#a-title h1::before {
  opacity: 0;
}

code {
  color: #FFF!important;
}

thead, tr, th {
  text-align: center!important;
}

b, strong {
  font-weight: 900;
  color: papayawhip;
}

p {
  color: rgb(233,245,255);
}
